.dropdown {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.head {
    color: inherit;
    background: inherit;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
}

.head .caret {
    transition: 0.2s;
}

.item {
    user-select: none;
    background: inherit;
    color: inherit;
    padding: 5px 10px;
    padding-right: 0;
    flex: 1;
}
  
.head .rotate {
    transform: rotateX(180deg);
}
  
.selection {
    background: inherit;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    list-style-type: none;
    opacity: 80%;
    height: 0;
}
  
.selection .selected {
    background: var(--blackcoral);
}
  
.selection .item:hover{
    background: var(--cadet);
}