html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.searchbar {
  width: 100%;
  max-width: 300px;
  display: inline-flex;
}

.searchbar .input {
  flex-grow: 1;
  padding: 10px;
  outline: none;
  border: 1px solid #252525;
  border-radius: 5px 0 0 5px;
  background: #f7f7f7;
  transition: background 0.25s, box-shadow 0.25s;
}

.searchbar .input:focus {
  background: white;
  box-shadow: 0 2px#e8e8e8;
}