:root {
  --richblack: #02111b;
  --fedora: #121D26;
  --blackcoral: #595C6A;
  --raisinblack: #30292f;
  --onyx: #3C3C43;
  --cadet: #5D737E;
  --white: #FCFCFC;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

body {
  background: var(--fedora);
}
